{% extends "layout.html.twig" %}

{% block content %}
    <div class="Container">
        <form method="post" action="/articles">
            <h3>Create Article</h3>
            <div>
                <label>
                    Title
                    <input type="text" name="title">
                </label>
            </div>
            <div>
                <label>
                    <textarea name="body"></textarea>
                    Body
                </label>
            </div>
            <div>
                <button>
                    Submit
                </button>
            </div>
        </form>
    </div>
{% endblock %}