<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header>
    <nav class = "navbar">
        <div class = "container">
            <a href = "/" class = "navbar-brand">Home</a>
            <a href = "/article/create" class = "navbar-brand">Create Article</a>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

</body>
</html>