{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="card">
            <img src="https://placehold.co/400"
            <h1>{{ user.getName }}</h1>
            <p class="username">{{ user.getUsername }}</p>
            <p class="email">{{ user.getEmail }}</p>
        </div>
        <div class="article-list">

        </div>
    </div>

{% endblock %}